<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <label >Username</label>
            <input type="text" class="form-control" formControlName ="userName"/>
            
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label >Password</label>
                <input type="text" class="form-control" formControlName ="password"/>
               
            </div>
       </div> 
       <div class="col-lg-6">
        <button>Sign In</button>
       </div>
       
</div>