<div class="container">
   <form  [formGroup]="userData" (submit)="createUser()">
    <div class="row">
        <div class="col-lg-12">
            <label >FistName</label>
            <input type="text" class="form-control" formControlName ="firstName" [ngStyle] = "{border : userData.get('firstName')?.dirty && !userData.get('firstName')?.valid? '1px solid red' : ''}"/>
            <span style="color : red;" *ngIf = "userData.get('firstName')?.dirty && !userData.get('firstName')?.valid">Please enter valid first Name</span>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label >LastName</label>
                <input type="text" class="form-control" formControlName ="lastName" [ngStyle] = "{border : userData.get('lastName')?.dirty && !userData.get('lastName')?.valid? '1px solid red' : ''}"/>
                <span style="color : red;" *ngIf = "userData.get('lastName')?.dirty && !userData.get('lastName')?.valid">Please enter valid Last Name</span>
            </div>
       </div> 
    </div>   
    <div class="col-lg-12">
        <input type="submit" [disabled]="!userData.valid" class="btn btn-primary mt-2">
    </div>
   </form>
</div>