<div class="container">
    <form  [formGroup]="userData">
     <div class="row">
         <div class="col-lg-12">
             <label >FistName</label>
             <input type="text" class="form-control" formControlName ="firstName" [ngStyle] = "{border : userData.get('firstName')?.dirty && !userData.get('firstName')?.valid? '1px solid red' : ''}"/>
             <span style="color : red;" *ngIf = "userData.get('firstName')?.dirty && !userData.get('firstName')?.valid">Please enter valid first Name</span>
         </div>
         <div class="row">
             <div class="col-lg-12">
                 <label >LastName</label>
                 <input type="text" class="form-control" formControlName ="lastName" [ngStyle] = "{border : userData.get('lastName')?.dirty && !userData.get('lastName')?.valid? '1px solid red' : ''}"/>
                 <span style="color : red;" *ngIf = "userData.get('lastName')?.dirty && !userData.get('lastName')?.valid">Please enter valid Last Name</span>
             </div>
        </div> 
        <div class="row">
            <div class="col-lg-12">
                <label >Password</label>
                <input type="text" class="form-control" formControlName ="password" [ngStyle] = "{border : userData.get('password')?.dirty && !userData.get('password')?.valid? '1px solid red' : ''}"/>
                <span style="color : red;" *ngIf = "userData.get('password')?.dirty && !userData.get('password')?.valid">Please enter valid Password</span>
            </div>
       </div> 
       <div class="row">
        <div class="col-lg-12">
            <label >Confirm Password</label>
            <input type="text" class="form-control" formControlName ="confirmPassword" [ngStyle] = "{border : userData.get('confirmPassword')?.dirty && !userData.get('confirmPassword')?.valid? '1px solid red' : ''}"/>
            <span style="color : red;" *ngIf = "userData.get('confirmPassword')?.dirty && !userData.get('confirmPassword')?.valid">Please does not match</span>
        </div>
   </div> 
     </div>   
     <div class="col-lg-12">
        
         <input type="submit" [disabled]="!userData.valid" class="btn btn-primary mt-2">
     </div>
    </form>
 </div>